In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Load the dataset
data = pd.read_csv(r'C:\Users\15205\Desktop\ECE562-experiment\cache_access_data.csv')

# Map 'READ' to 0 and 'WRITE' to 1 (adjust if necessary)
data['Access Type'].replace({'READ': 0, 'WRITE': 1}, inplace=True)

# Separate features and target variable
X = data.drop(['Access Type'], axis=1)
y = data['Access Type']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Combine features and target for train and test sets
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

# Save the train and test sets to separate CSV files
train_data.to_csv(r'C:\Users\15205\Desktop\ECE562-experiment\train_data.csv', index=False)
test_data.to_csv(r'C:\Users\15205\Desktop\ECE562-experiment\test_data.csv', index=False)

print("Data has been split and saved successfully.")

C:\Users\15205\AppData\Local\Temp\ipykernel_14024\286461137.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Access Type'].replace({'READ': 0, 'WRITE': 1}, inplace=True)
C:\Users\15205\AppData\Local\Temp\ipykernel_14024\286461137.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Access Type'].replace({'READ': 0, 'WRITE': 1}, inplace=True)

Data has been split and saved successfully.

In [9]:
 d_tr= pd.read_csv(r'C:\Users\15205\Desktop\ECE562-experiment\train_data.csv')

In [52]:
#d_tr= df.drop(columns=['id','proto', 'service','state'], axis=1)

In [10]:
d_tr['Access Type'].unique()

array(['READ', 'WRITE'], dtype=object)

In [13]:
d_tr['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)

C:\Users\15205\AppData\Local\Temp\ipykernel_18608\2990833390.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d_tr['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)
C:\Users\15205\AppData\Local\Temp\ipykernel_18608\2990833390.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  d_tr['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)

In [14]:
d_tr.head()

,PC,Memory Address,Cache Set,Access Type,Cycle Count,Time Since Last Access,Valid Status,Dirty Status,Cache Occupancy,Last Eviction Cycle,Hit/Miss
0,4209655,13212416,1644,1,30344983,2372125,1,0,16,0,0
1,0,1234688,860,2,4099204,527645,1,0,16,0,1
2,4311459,9727104,434,1,52926494,1652141,1,0,16,0,0
3,0,1285184,1649,2,43488412,2952562,1,0,16,0,0
4,4311551,8868360,1352,1,57983150,2223530,1,0,16,0,0

In [15]:
df_test = pd.read_csv(r'C:\Users\15205\Desktop\ECE562-experiment\test_data.csv')

In [16]:
df_test.head()

,PC,Memory Address,Cache Set,Access Type,Cycle Count,Time Since Last Access,Valid Status,Dirty Status,Cache Occupancy,Last Eviction Cycle,Hit/Miss
0,4311510,9283968,1702,READ,58387257,1987728,1,0,16,0,0
1,4311510,9797828,1539,READ,69464897,1765362,1,0,16,0,0
2,4277926,1396248,1336,READ,67926610,3139398,1,0,16,0,0
3,4311551,9441248,63,READ,58547360,2111943,1,0,16,0,0
4,4209619,3305792,453,READ,50066839,2501294,1,0,16,0,0

In [58]:
#df_test= df_test.drop(columns=['id','proto', 'service','state'], axis=1)

In [18]:
df_test['Access Type'].unique()

array(['READ', 'WRITE'], dtype=object)

In [19]:
df_test['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)

C:\Users\15205\AppData\Local\Temp\ipykernel_18608\3887378201.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)
C:\Users\15205\AppData\Local\Temp\ipykernel_18608\3887378201.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test['Access Type'].replace({'READ': 1,'WRITE' :2}, inplace=True)

In [20]:
df_test.head()

,PC,Memory Address,Cache Set,Access Type,Cycle Count,Time Since Last Access,Valid Status,Dirty Status,Cache Occupancy,Last Eviction Cycle,Hit/Miss
0,4311510,9283968,1702,1,58387257,1987728,1,0,16,0,0
1,4311510,9797828,1539,1,69464897,1765362,1,0,16,0,0
2,4277926,1396248,1336,1,67926610,3139398,1,0,16,0,0
3,4311551,9441248,63,1,58547360,2111943,1,0,16,0,0
4,4209619,3305792,453,1,50066839,2501294,1,0,16,0,0

In [22]:



scaler = StandardScaler()





y_train = d_tr['Access Type']
X_train = d_tr.drop(['Access Type'], axis=1)



y_test = df_test['Access Type']
X_test = df_test.drop(['Access Type'], axis=1)

X_train_scaled = scaler.fit_transform(X_train)

X_test_scaled = scaler.transform(X_test)


model = SVC() 


model.fit(X_train_scaled, y_train)


y_pred = model.predict(X_test_scaled)


accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.4f}%")

Accuracy: 99.7606%

In [23]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix

In [24]:
conf_matrix = confusion_matrix(y_test, y_pred)

precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print("Confusion Matrix:")
print(conf_matrix)
print("Precision:", precision)
print("Recall:", recall)

Confusion Matrix:
[[197224    256]
 [   246  11989]]
Precision: 0.9987542411505546
Recall: 0.9987036661940449